<a href="https://colab.research.google.com/github/toche7/StatPy/blob/main/LoadDATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Data file to Colab

### วิธีที่ 1 อัพโหลดไฟล์มาจาก Computer

In [ ]:
from google.colab import files
data_to_load = files.upload()

In [ ]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(data_to_load['DemograhicData.csv']))

KeyError: ignored

In [ ]:
df

   Gender  Age  Weight  Height
0       F   25    39.0   156.0
1       M   40    73.0   178.0
2       F   28    60.0   148.0
3       F   27    53.7   158.0
4       M   24    57.0   166.0
..    ...  ...     ...     ...
87      F   21    48.0   158.0
88      F   38    66.0   165.0
89      M   21    84.0   174.0
90      M   21    54.0   166.0
91      M   30    55.0   154.0

[92 rows x 4 columns]

### วิธีที่ 2 โหลดไฟล์ที่อยู่ใน Google Drive

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/DataDrTaweesakWebsite/MiniDataSci/DATAMining/RapidMiner-Dataset/DemograhicData.csv')

In [ ]:
df

   Gender  Age  Weight  Height
0       F   25    39.0   156.0
1       M   40    73.0   178.0
2       F   28    60.0   148.0
3       F   27    53.7   158.0
4       M   24    57.0   166.0
..    ...  ...     ...     ...
87      F   21    48.0   158.0
88      F   38    66.0   165.0
89      M   21    84.0   174.0
90      M   21    54.0   166.0
91      M   30    55.0   154.0

[92 rows x 4 columns]

In [ ]:
df.dtypes

Gender     object
Age         int64
Weight    float64
Height    float64
dtype: object

### วิธีที่ 3 อ่านจาก Google Sheet

In [ ]:
from google.colab import auth 
auth.authenticate_user()

In [ ]:
import gspread
from oauth2client.client import GoogleCredentials

In [ ]:
gc = gspread.authorize(GoogleCredentials.get_application_default())
wb = gc.open('Demographic Data Survey (Responses)')
worksheet = wb.worksheet('Sheet2')

In [ ]:
rows = worksheet.get_all_records()

In [ ]:
print(rows)

[{'Gender': 'F', 'Age': 25, 'Weight': 39, 'Height': 156}, {'Gender': 'M', 'Age': 40, 'Weight': 73, 'Height': 178}, {'Gender': 'F', 'Age': 28, 'Weight': 60, 'Height': 148}, {'Gender': 'F', 'Age': 27, 'Weight': 53.7, 'Height': 158}, {'Gender': 'M', 'Age': 24, 'Weight': 57, 'Height': 166}, {'Gender': 'M', 'Age': 50, 'Weight': 107, 'Height': 182}, {'Gender': 'F', 'Age': 28, 'Weight': 47, 'Height': 163}, {'Gender': 'F', 'Age': 23, 'Weight': 43, 'Height': 153}, {'Gender': 'M', 'Age': 33, 'Weight': 81, 'Height': 173}, {'Gender': 'F', 'Age': 30, 'Weight': 75, 'Height': 163}, {'Gender': 'M', 'Age': 27, 'Weight': 65, 'Height': 175}, {'Gender': 'F', 'Age': 35, 'Weight': 60, 'Height': 160}, {'Gender': 'F', 'Age': 46, 'Weight': 54, 'Height': 157}, {'Gender': 'F', 'Age': 27, 'Weight': 43, 'Height': 153}, {'Gender': 'F', 'Age': 34, 'Weight': 67, 'Height': 163}, {'Gender': 'F', 'Age': 24, 'Weight': 69, 'Height': 155}, {'Gender': 'M', 'Age': 50, 'Weight': 70, 'Height': 173}, {'Gender': 'F', 'Age': 38, 'Weight': 57, 'Height': 155}, {'Gender': 'M', 'Age': 46, 'Weight': 75, 'Height': 170}, {'Gender': 'M', 'Age': 27, 'Weight': 106, 'Height': 165}, {'Gender': 'F', 'Age': 26, 'Weight': 72, 'Height': 162}, {'Gender': 'F', 'Age': 26, 'Weight': 73.3, 'Height': 162}, {'Gender': 'F', 'Age': 44, 'Weight': 68, 'Height': 160}, {'Gender': 'F', 'Age': 24, 'Weight': 45, 'Height': 155}, {'Gender': 'F', 'Age': 34, 'Weight': 65, 'Height': 152}, {'Gender': 'F', 'Age': 27, 'Weight': 45, 'Height': 155}, {'Gender': 'F', 'Age': 34, 'Weight': 55, 'Height': 175}, {'Gender': 'M', 'Age': 39, 'Weight': 112, 'Height': 192}, {'Gender': 'M', 'Age': 26, 'Weight': 72, 'Height': 174}, {'Gender': 'M', 'Age': 50, 'Weight': 88, 'Height': 188}, {'Gender': 'M', 'Age': 26, 'Weight': 58, 'Height': 158}, {'Gender': 'M', 'Age': 40, 'Weight': 88, 'Height': 180}, {'Gender': 'F', 'Age': 42, 'Weight': 64, 'Height': 158}, {'Gender': 'F', 'Age': 34, 'Weight': 51, 'Height': 154}, {'Gender': 'F', 'Age': 32, 'Weight': 50.7, 'Height': 159}, {'Gender': 'M', 'Age': 48, 'Weight': 72, 'Height': 170}, {'Gender': 'F', 'Age': 30, 'Weight': 80, 'Height': 160}, {'Gender': 'M', 'Age': 44, 'Weight': 90, 'Height': 170}, {'Gender': 'F', 'Age': 24, 'Weight': 49, 'Height': 160}, {'Gender': 'M', 'Age': 19, 'Weight': 67, 'Height': 170}, {'Gender': 'F', 'Age': 41, 'Weight': 64, 'Height': 160}, {'Gender': 'F', 'Age': 25, 'Weight': 98, 'Height': 170}, {'Gender': 'F', 'Age': 29, 'Weight': 63, 'Height': 156}, {'Gender': 'F', 'Age': 46, 'Weight': 60, 'Height': 160}, {'Gender': 'M', 'Age': 23, 'Weight': 80, 'Height': 177}, {'Gender': 'F', 'Age': 30, 'Weight': 47, 'Height': 160}, {'Gender': 'M', 'Age': 49, 'Weight': 66.75, 'Height': 170}, {'Gender': 'M', 'Age': 25, 'Weight': 67, 'Height': 172}, {'Gender': 'M', 'Age': 24, 'Weight': 71, 'Height': 171}, {'Gender': 'F', 'Age': 38, 'Weight': 59, 'Height': 150}, {'Gender': 'F', 'Age': 27, 'Weight': 58, 'Height': 159}, {'Gender': 'F', 'Age': 28, 'Weight': 48, 'Height': 157}, {'Gender': 'F', 'Age': 28, 'Weight': 40.5, 'Height': 148}, {'Gender': 'F', 'Age': 33, 'Weight': 50, 'Height': 160}, {'Gender': 'M', 'Age': 25, 'Weight': 67, 'Height': 170}, {'Gender': 'M', 'Age': 31, 'Weight': 65, 'Height': 167}, {'Gender': 'M', 'Age': 33, 'Weight': 47, 'Height': 161}, {'Gender': 'M', 'Age': 38, 'Weight': 75, 'Height': 170}, {'Gender': 'M', 'Age': 41, 'Weight': 87, 'Height': 170}, {'Gender': 'F', 'Age': 28, 'Weight': 50, 'Height': 156}, {'Gender': 'M', 'Age': 33, 'Weight': 143, 'Height': 178}, {'Gender': 'F', 'Age': 38, 'Weight': 60, 'Height': 165}, {'Gender': 'F', 'Age': 26, 'Weight': 43, 'Height': 160}, {'Gender': 'F', 'Age': 23, 'Weight': 46, 'Height': 156}, {'Gender': 'F', 'Age': 23, 'Weight': 50, 'Height': 155}, {'Gender': 'F', 'Age': 23, 'Weight': 43, 'Height': 153}, {'Gender': 'F', 'Age': 30, 'Weight': 47, 'Height': 159}, {'Gender': 'M', 'Age': 40, 'Weight': 63, 'Height': 173}, {'Gender': 'M', 'Age': 40, 'Weight': 77, 'Height': 175}, {'Gender': 'F', 'Age': 35, 'Weight': 65, 'Height': 175}, {'Gender': 'M', 'Age': 27, 'Weight': 72, 'Height': 182}, {'Gender': 'M', 'Age': 40, 'Weight': 70, 'Height': 170}, {'Gender': 'F', 'Age': 27, 'Weight': 55, 'Height': 155}, {'Gender': 'M', 'Age': 33, 'Weight': 110, 'Height': 175}, {'Gender': 'M', 'Age': 34, 'Weight': 77, 'Height': 169}, {'Gender': 'F', 'Age': 25, 'Weight': 50, 'Height': 152}, {'Gender': 'F', 'Age': 41, 'Weight': 81, 'Height': 161}, {'Gender': 'M', 'Age': 38, 'Weight': 83, 'Height': 166}, {'Gender': 'F', 'Age': 27, 'Weight': 49, 'Height': 161}, {'Gender': 'M', 'Age': 42, 'Weight': 75, 'Height': 175}, {'Gender': 'M', 'Age': 27, 'Weight': 60, 'Height': 169}, {'Gender': 'F', 'Age': 45, 'Weight': 53, 'Height': 162}, {'Gender': 'F', 'Age': 36, 'Weight': 55, 'Height': 155}, {'Gender': 'M', 'Age': 24, 'Weight': 67, 'Height': 171}, {'Gender': 'F', 'Age': 21, 'Weight': 40, 'Height': 151}, {'Gender': 'M', 'Age': 19, 'Weight': 48, 'Height': 169}, {'Gender': 'F', 'Age': 21, 'Weight': 48, 'Height': 158}, {'Gender': 'F', 'Age': 38, 'Weight': 66, 'Height': 165}, {'Gender': 'M', 'Age': 21, 'Weight': 84, 'Height': 174}, {'Gender': 'M', 'Age': 21, 'Weight': 54, 'Height': 166}, {'Gender': 'M', 'Age': 30, 'Weight': 55, 'Height': 154}, {'Gender': 'M', 'Age': 39, 'Weight': 90, 'Height': 168}, {'Gender': 'M', 'Age': 38, 'Weight': 75, 'Height': 170}]

In [ ]:
df = pd.DataFrame.from_records(rows)

In [ ]:
df.head()

  Gender  Age  Weight  Height
0      F   25    39.0     156
1      M   40    73.0     178
2      F   28    60.0     148
3      F   27    53.7     158
4      M   24    57.0     166

In [ ]:
df.dtypes

Gender     object
Age         int64
Weight    float64
Height      int64
dtype: object

In [ ]:
df['Gender'] = df['Gender'].astype('category')

In [ ]:
df.dtypes

Gender    category
Age          int64
Weight     float64
Height       int64
dtype: object